In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer
data=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
null_values=data.isnull().sum()
null_percentage = (data.isnull().sum() / len(data)) * 100
print("null values percentage: \n"+null_values.to_string())
print("null values percentage: \n"+null_percentage.to_string())

null values percentage:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
null values percentage:
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467

In [ ]:
imputer=SimpleImputer(strategy='most_frequent')
cols_to_impute = ['Age', 'Embarked']
data[cols_to_impute] = imputer.fit_transform(data[cols_to_impute])
data.drop('Cabin',axis=1,inplace=True)

In [ ]:
null_values=data.isnull().sum()
print(print("null values: \n"+null_values.to_string()))

In [ ]:
print(f"Shape of the DataFrame before removing duplicates:{data.shape}")
data.drop_duplicates(inplace=True)
print(f"Shape of the DataFrame after removing duplicates:{data.shape}")

Shape of the DataFrame before removing duplicates:(891, 11)
Shape of the DataFrame after removing duplicates:(891, 11)

In [ ]:
data = pd.get_dummies(data, columns=['Sex', 'Embarked'], drop_first=True)#both are nomimal->one hot encoding

In [ ]:
data

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,False,False,True
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,True,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",24.0,1,2,W./C. 6607,23.4500,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,True,True,False

In [ ]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Sex_male', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
data[['Age', 'Fare']] = scaler.fit_transform(data[['Age', 'Fare']])
data

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",-0.497793,1,0,A/5 21171,-0.502445,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.715048,1,0,PC 17599,0.786845,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",-0.194583,0,0,STON/O2. 3101282,-0.488854,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.487640,1,0,113803,0.420730,False,False,True
4,5,0,3,"Allen, Mr. William Henry",0.487640,0,0,373450,-0.486337,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",-0.118780,0,0,211536,-0.386671,True,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",-0.725201,0,0,112053,-0.044381,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",-0.346188,1,2,W./C. 6607,-0.176263,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",-0.194583,0,0,111369,-0.044381,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",0.260233,0,0,370376,-0.492378,True,True,False

In [ ]:
data_sorted = data.sort_values(by='Fare')#sorting to identify outliers
data_sorted

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Sex_male,Embarked_Q,Embarked_S
815,816,0,1,"Fry, Mr. Richard",-0.346188,0,0,112058,-0.648422,True,False,True
806,807,0,1,"Andrews, Mr. Thomas Jr",0.790851,0,0,112050,-0.648422,True,False,True
413,414,0,2,"Cunningham, Mr. Alfred Fleming",-0.346188,0,0,239853,-0.648422,True,False,True
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",-0.346188,0,0,239854,-0.648422,True,False,True
302,303,0,3,"Johnson, Mr. William Cahoone Jr",-0.725201,0,0,LINE,-0.648422,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
438,439,0,1,"Fortune, Mr. Mark",2.685915,1,4,19950,4.647001,True,False,True
341,342,1,1,"Fortune, Miss. Alice Elizabeth",-0.346188,3,2,19950,4.647001,False,False,True
737,738,1,1,"Lesurer, Mr. Gustave J",0.487640,0,0,PC 17755,9.667167,True,False,False
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",0.563443,0,1,PC 17755,9.667167,True,False,False
258,259,1,1,"Ward, Miss. Anna",0.487640,0,0,PC 17755,9.667167,False,False,False